{"swagger": "2.0", "info": {"title": "externalapiproxy.proto"}, "schemes": null, "consumes": null, "produces": null, "paths": {"/v1/google-adwords/call": {"post": {"summary": "\u041f\u0440\u043e\u043a\u0441\u0438\u0440\u0443\u044e\u0449\u0438\u0439 \u0432\u044b\u0437\u043e\u0432 \u0432 Google AdWords API\nhttps://developers.google.com/adwords/api/docs/reference/release-notes/v201809?hl=en", "operationId": "Call", "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/GoogleAdWordsResponse"}}}, "parameters": [{"name": "body", "in": "body", "required": true, "schema": {"$ref": "#/definitions/GoogleAdWordsRequest"}}], "tags": ["GoogleAdWords"]}}}, "definitions": {"GoogleAdWordsRequest": {"type": "object", "properties": {"access_login": {"type": "string", "title": "\u041f\u043e\u043b\u0435 login \u0441\u043e \u0441\u0442\u0440\u0430\u043d\u0438\u0446\u044b \u043a\u043e\u043d\u043a\u0440\u0435\u0442\u043d\u043e\u0439 \u0441\u0438\u0441\u0442\u0435\u043c\u044b \u0441 url https://account.garpun.com/page?p=5184&a=2\n\u041d\u0443\u0436\u043d\u043e \u0434\u043b\u044f \u0442\u043e\u0433\u043e, \u0447\u0442\u043e\u0431\u044b \u0443\u0442\u043e\u0447\u043d\u0438\u0442\u044c \u0447\u0435\u0440\u0435\u0437 \u043a\u0430\u043a\u043e\u0435 \u0438\u043c\u0435\u043d\u043d\u043e \u043f\u043e\u0434\u043a\u043b\u044e\u0447\u0435\u043d\u0438\u0435 \u0440\u0430\u0431\u043e\u0442\u0430\u0442\u044c, \u0442\u0430\u043a \u043a\u0430\u043a \u043c\u043e\u0436\u0435\u0442 \u0431\u044b\u0442\u044c \u043d\u0435\u0441\u043a\u043e\u043b\u044c\u043a\u043e \u0442\u043e\u043a\u0435\u043d\u043e\u0432 \u0434\u043e \u0441\u0438\u0441\u0442\u0435\u043c\u044b,\n\u0438 \u043f\u0440\u0438 \u044d\u0442\u043e\u043c \u043e\u043d\u0438 \u043c\u043e\u0433\u0443\u0442 \u0438\u043c\u0435\u0442\u044c \u0440\u0430\u0437\u043d\u044b\u0435 \u043f\u0440\u0430\u0432\u0430 \u043d\u0430 \u0434\u043e\u0441\u0442\u0443\u043f \u043a \u043a\u043e\u043d\u043a\u0440\u0435\u0442\u043d\u044b\u043c customer_id", "description": "\u041f\u043e\u043b\u0435 login \u0441\u043e \u0441\u0442\u0440\u0430\u043d\u0438\u0446\u044b \u043a\u043e\u043d\u043a\u0440\u0435\u0442\u043d\u043e\u0439 \u0441\u0438\u0441\u0442\u0435\u043c\u044b \u0441 url https://account.garpun.com/page?p=5184&a=2\n\u041d\u0443\u0436\u043d\u043e \u0434\u043b\u044f \u0442\u043e\u0433\u043e, \u0447\u0442\u043e\u0431\u044b \u0443\u0442\u043e\u0447\u043d\u0438\u0442\u044c \u0447\u0435\u0440\u0435\u0437 \u043a\u0430\u043a\u043e\u0435 \u0438\u043c\u0435\u043d\u043d\u043e \u043f\u043e\u0434\u043a\u043b\u044e\u0447\u0435\u043d\u0438\u0435 \u0440\u0430\u0431\u043e\u0442\u0430\u0442\u044c, \u0442\u0430\u043a \u043a\u0430\u043a \u043c\u043e\u0436\u0435\u0442 \u0431\u044b\u0442\u044c \u043d\u0435\u0441\u043a\u043e\u043b\u044c\u043a\u043e \u0442\u043e\u043a\u0435\u043d\u043e\u0432 \u0434\u043e \u0441\u0438\u0441\u0442\u0435\u043c\u044b,\n\u0438 \u043f\u0440\u0438 \u044d\u0442\u043e\u043c \u043e\u043d\u0438 \u043c\u043e\u0433\u0443\u0442 \u0438\u043c\u0435\u0442\u044c \u0440\u0430\u0437\u043d\u044b\u0435 \u043f\u0440\u0430\u0432\u0430 \u043d\u0430 \u0434\u043e\u0441\u0442\u0443\u043f \u043a \u043a\u043e\u043d\u043a\u0440\u0435\u0442\u043d\u044b\u043c customer_id\n\u0410\u043b\u044c\u0442\u0435\u0440\u043d\u0430\u0442\u0438\u0432\u043d\u043e\u0435 \u0438\u043c\u044f: accessLogin"}, "customer_id": {"type": "string", "title": "\u041d\u0435\u043f\u043e\u0441\u0440\u0435\u0434\u0441\u0442\u0432\u0435\u043d\u043d\u044b\u0439 CustomerID \u0438\u0437 google adwords", "description": "\u041d\u0435\u043f\u043e\u0441\u0440\u0435\u0434\u0441\u0442\u0432\u0435\u043d\u043d\u044b\u0439 CustomerID \u0438\u0437 google adwords\n\u0410\u043b\u044c\u0442\u0435\u0440\u043d\u0430\u0442\u0438\u0432\u043d\u043e\u0435 \u0438\u043c\u044f: customerId"}, "version": {"type": "string", "title": "\u0421\u0435\u0439\u0447\u0430\u0441 \u0442\u043e\u043b\u044c\u043a\u043e v201809", "description": "\u0421\u0435\u0439\u0447\u0430\u0441 \u0442\u043e\u043b\u044c\u043a\u043e v201809"}, "service": {"type": "string", "title": "\u0418\u043c\u044f \u0441\u0435\u0440\u0432\u0438\u0441\u0430 \u0442\u0430\u043a \u0436\u0435 \u043a\u0430\u043a \u0432 \u0434\u043e\u043a\u0443\u043c\u0435\u043d\u0442\u0430\u0446\u0438\u0438. \u041d\u0430\u043f\u0440\u0438\u043c\u0435\u0440 TargetingIdeaService", "description": "\u0418\u043c\u044f \u0441\u0435\u0440\u0432\u0438\u0441\u0430 \u0442\u0430\u043a \u0436\u0435 \u043a\u0430\u043a \u0432 \u0434\u043e\u043a\u0443\u043c\u0435\u043d\u0442\u0430\u0446\u0438\u0438. \u041d\u0430\u043f\u0440\u0438\u043c\u0435\u0440 TargetingIdeaService"}, "method": {"type": "string", "title": "\u0418\u043c\u044f \u043c\u0435\u0442\u043e\u0434\u0430 \u0441\u0435\u0440\u0432\u0438\u0441\u0430 \u0442\u0430\u043a \u0436\u0435 \u043a\u0430\u043a \u0432 \u0434\u043e\u043a\u0443\u043c\u0435\u043d\u0442\u0430\u0446\u0438\u0438. \u041d\u0430\u043f\u0440\u0438\u043c\u0435\u0440 get", "description": "\u0418\u043c\u044f \u043c\u0435\u0442\u043e\u0434\u0430 \u0441\u0435\u0440\u0432\u0438\u0441\u0430 \u0442\u0430\u043a \u0436\u0435 \u043a\u0430\u043a \u0432 \u0434\u043e\u043a\u0443\u043c\u0435\u043d\u0442\u0430\u0446\u0438\u0438. \u041d\u0430\u043f\u0440\u0438\u043c\u0435\u0440 get"}, "json_method_params": {"type": "string", "title": "\u0422\u0435\u043b\u043e \u0437\u0430\u043f\u0440\u043e\u0441\u0430 \u043a\u0430\u043a \u0432 \u0434\u043e\u043a\u0443\u043c\u0435\u043d\u0442\u0430\u0446\u0438\u0438 Google AdWords \u0432 \u0432\u0438\u0434\u0435 JSON \u0441\u0442\u0440\u043e\u043a\u0438\n\u041d\u0430\u043f\u0440\u0438\u043c\u0435\u0440 \u0434\u043b\u044f TargetingIdeaService.get\n {\"selector\": {\n   \"ideaType\": \"KEYWORD\",\n   \"requestType\": \"STATS\",\n   \"requestedAttributeTypes\": [\"SEARCH_VOLUME\"],\n   \"searchParameters\": {\n     \"xsi_type\": \"RelatedToQuerySearchParameter\",\n     \"queries\": keywords_for_grab\n   },\n   \"paging\": {\"startIndex\": 0, \"numberResults\": 100}\n }}", "description": "\u0422\u0435\u043b\u043e \u0437\u0430\u043f\u0440\u043e\u0441\u0430 \u043a\u0430\u043a \u0432 \u0434\u043e\u043a\u0443\u043c\u0435\u043d\u0442\u0430\u0446\u0438\u0438 Google AdWords \u0432 \u0432\u0438\u0434\u0435 JSON \u0441\u0442\u0440\u043e\u043a\u0438\n\u041d\u0430\u043f\u0440\u0438\u043c\u0435\u0440 \u0434\u043b\u044f TargetingIdeaService.get\n {\"selector\": {\n   \"ideaType\": \"KEYWORD\",\n   \"requestType\": \"STATS\",\n   \"requestedAttributeTypes\": [\"SEARCH_VOLUME\"],\n   \"searchParameters\": {\n     \"xsi_type\": \"RelatedToQuerySearchParameter\",\n     \"queries\": keywords_for_grab\n   },\n   \"paging\": {\"startIndex\": 0, \"numberResults\": 100}\n }}\n\u0410\u043b\u044c\u0442\u0435\u0440\u043d\u0430\u0442\u0438\u0432\u043d\u043e\u0435 \u0438\u043c\u044f: jsonMethodParams"}}, "required": []}, "GoogleAdWordsResponse": {"type": "object", "properties": {"json_result": {"type": "string", "title": "\u041e\u0442\u0432\u0435\u0442 \u043e\u0442 google adwords \u0432 \u0432\u0438\u0434\u0435 JSON \u0441\u0442\u0440\u043e\u043a\u0438", "description": "\u041e\u0442\u0432\u0435\u0442 \u043e\u0442 google adwords \u0432 \u0432\u0438\u0434\u0435 JSON \u0441\u0442\u0440\u043e\u043a\u0438\n\u0410\u043b\u044c\u0442\u0435\u0440\u043d\u0430\u0442\u0438\u0432\u043d\u043e\u0435 \u0438\u043c\u044f: jsonResult"}, "json_error": {"type": "string", "title": "\u041e\u0431\u043e\u0431\u0449\u0435\u043d\u043d\u0430\u044f \u043e\u0448\u0438\u0431\u043a\u0430 \u0432 \u0432\u0438\u0434\u0435 JSON \u0441\u0442\u0440\u043e\u043a\u0438", "description": "\u041e\u0431\u043e\u0431\u0449\u0435\u043d\u043d\u0430\u044f \u043e\u0448\u0438\u0431\u043a\u0430 \u0432 \u0432\u0438\u0434\u0435 JSON \u0441\u0442\u0440\u043e\u043a\u0438\n\u0410\u043b\u044c\u0442\u0435\u0440\u043d\u0430\u0442\u0438\u0432\u043d\u043e\u0435 \u0438\u043c\u044f: jsonError"}}, "required": []}}, "host": "externalapiproxy.apis.devision.io", "tags": [{"name": "GoogleAdWords", "description": ""}]}