{"swagger": "2.0", "info": {"title": "trafficestimator.proto"}, "schemes": null, "consumes": null, "produces": null, "paths": {"/v1/keyword/get": {"post": {"summary": "\u0418\u043d\u0444\u043e\u0440\u043c\u0430\u0446\u0438\u044f \u043e \u043f\u0440\u0435\u0434\u043f\u043e\u043b\u0430\u0433\u0430\u0435\u043c\u044b\u0445 \u043f\u043e\u043a\u0430\u0437\u0430\u0445 \u043f\u043e \u0444\u0440\u0430\u0437\u0430\u043c", "operationId": "Get", "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/KeywordGetResponse"}}}, "parameters": [{"name": "body", "in": "body", "required": true, "schema": {"$ref": "#/definitions/KeywordGetRequest"}}], "tags": ["Keyword"]}}}, "definitions": {"HasSearchVolume": {"type": "string", "enum": ["UNKNOWN", "YES", "NO", "NO_STAT"], "default": "UNKNOWN", "description": "- YES: \u0424\u0440\u0430\u0437\u0430 \u0432\u044b\u0437\u044b\u0432\u0430\u0435\u0442 \u043f\u043e\u043a\u0430\u0437\u044b\n - NO: \u0424\u0440\u0430\u0437\u0430 \u043d\u0435 \u0432\u044b\u0437\u044b\u0432\u0430\u0435\u0442 \u043f\u043e\u043a\u0430\u0437\u044b\n - NO_STAT: \u0421\u0442\u0430\u0442\u0438\u0441\u0442\u0438\u043a\u0430 \u0431\u0443\u0434\u0435\u0442 \u0441\u043e\u0431\u0440\u0430\u043d\u0430 \u0432 \u0431\u043b\u0438\u0436\u0430\u0439\u0448\u0438\u0435 24h", "title": "\u0423\u0441\u0440\u0435\u0434\u043d\u0435\u043d\u043d\u044b\u0439 \u0441\u0442\u0430\u0442\u0443\u0441 \u043f\u043e \u0440\u0430\u0437\u043d\u044b\u043c \u0441\u0438\u0441\u0442\u0435\u043c\u0430\u043c \u0441\u0431\u043e\u0440\u0430 \u0441\u0442\u0430\u0442\u0438\u0441\u0442\u0438\u043a\u0438 \u043f\u043e \u043e\u0446\u0435\u043d\u043a\u0435 \u0442\u0440\u0430\u0444\u0438\u043a\u0430", "required": []}, "KeywordGetRequest": {"type": "object", "properties": {"keywords": {"type": "array", "items": {"type": "string"}, "title": "\u0421\u043f\u0438\u0441\u043e\u043a \u043a\u043b\u044e\u0447\u0435\u0432\u044b\u0445 \u0444\u0440\u0430\u0437", "description": "\u0421\u043f\u0438\u0441\u043e\u043a \u043a\u043b\u044e\u0447\u0435\u0432\u044b\u0445 \u0444\u0440\u0430\u0437"}}, "required": []}, "KeywordGetResponse": {"type": "object", "properties": {"entries": {"type": "array", "items": {"$ref": "#/definitions/KeywordStatResult"}, "title": "\u0412\u043e\u0437\u0432\u0440\u0430\u0449\u0430\u0435\u0442 \u0441\u0442\u0430\u0442\u0438\u0441\u0442\u0438\u043a\u0443 \u0432 \u0442\u043e\u043c \u0436\u0435 \u043f\u043e\u0440\u044f\u0434\u043a\u0435, \u0432 \u043a\u043e\u0442\u043e\u0440\u043e\u043c \u043a\u043b\u044e\u0447\u0435\u0432\u044b\u0435 \u0444\u0440\u0430\u0437\u044b \u043f\u0440\u0438\u0448\u043b\u0438 \u0432 \u043c\u0435\u0442\u043e\u0434", "description": "\u0412\u043e\u0437\u0432\u0440\u0430\u0449\u0430\u0435\u0442 \u0441\u0442\u0430\u0442\u0438\u0441\u0442\u0438\u043a\u0443 \u0432 \u0442\u043e\u043c \u0436\u0435 \u043f\u043e\u0440\u044f\u0434\u043a\u0435, \u0432 \u043a\u043e\u0442\u043e\u0440\u043e\u043c \u043a\u043b\u044e\u0447\u0435\u0432\u044b\u0435 \u0444\u0440\u0430\u0437\u044b \u043f\u0440\u0438\u0448\u043b\u0438 \u0432 \u043c\u0435\u0442\u043e\u0434"}}, "required": []}, "KeywordStatResult": {"type": "object", "properties": {"has_search_volume": {"$ref": "#/definitions/HasSearchVolume", "title": "\u0423\u0441\u0440\u0435\u0434\u043d\u0435\u043d\u043d\u044b\u0439 \u0441\u0442\u0430\u0442\u0443\u0441 \u043f\u043e \u0440\u0430\u0437\u043d\u044b\u043c \u0441\u0438\u0441\u0442\u0435\u043c\u0430\u043c \u0441\u0431\u043e\u0440\u0430 \u0441\u0442\u0430\u0442\u0438\u0441\u0442\u0438\u043a\u0438 \u043f\u043e \u043e\u0446\u0435\u043d\u043a\u0435 \u0442\u0440\u0430\u0444\u0438\u043a\u0430", "description": "\u0423\u0441\u0440\u0435\u0434\u043d\u0435\u043d\u043d\u044b\u0439 \u0441\u0442\u0430\u0442\u0443\u0441 \u043f\u043e \u0440\u0430\u0437\u043d\u044b\u043c \u0441\u0438\u0441\u0442\u0435\u043c\u0430\u043c \u0441\u0431\u043e\u0440\u0430 \u0441\u0442\u0430\u0442\u0438\u0441\u0442\u0438\u043a\u0438 \u043f\u043e \u043e\u0446\u0435\u043d\u043a\u0435 \u0442\u0440\u0430\u0444\u0438\u043a\u0430\n\u0410\u043b\u044c\u0442\u0435\u0440\u043d\u0430\u0442\u0438\u0432\u043d\u043e\u0435 \u0438\u043c\u044f: hasSearchVolume"}, "impressions": {"type": "string", "format": "int64", "title": "\u041e\u0440\u0438\u0435\u043d\u0442\u0438\u0440\u043e\u0432\u043e\u0447\u043d\u043e\u0435 \u043a\u043e\u043b\u0438\u0447\u0435\u0441\u0442\u0432\u043e \u043f\u043e\u043a\u0430\u0437\u043e\u0432 \u043a\u043b\u044e\u0447\u0435\u0432\u043e\u0439 \u0444\u0440\u0430\u0437\u044b\n\u0421\u0447\u0438\u0442\u0430\u0435\u0442\u0441\u044f \u043a\u0430\u043a \u043c\u0430\u043a\u0441\u0438\u043c\u0430\u043b\u044c\u043d\u043e\u0435 \u0441\u0440\u0435\u0434\u0438 \u0441\u0438\u0441\u0442\u0435\u043c \u0441\u0442\u0430\u0442\u0438\u0441\u0442\u0438\u043a\u0438", "description": "\u041e\u0440\u0438\u0435\u043d\u0442\u0438\u0440\u043e\u0432\u043e\u0447\u043d\u043e\u0435 \u043a\u043e\u043b\u0438\u0447\u0435\u0441\u0442\u0432\u043e \u043f\u043e\u043a\u0430\u0437\u043e\u0432 \u043a\u043b\u044e\u0447\u0435\u0432\u043e\u0439 \u0444\u0440\u0430\u0437\u044b\n\u0421\u0447\u0438\u0442\u0430\u0435\u0442\u0441\u044f \u043a\u0430\u043a \u043c\u0430\u043a\u0441\u0438\u043c\u0430\u043b\u044c\u043d\u043e\u0435 \u0441\u0440\u0435\u0434\u0438 \u0441\u0438\u0441\u0442\u0435\u043c \u0441\u0442\u0430\u0442\u0438\u0441\u0442\u0438\u043a\u0438"}}, "required": []}}, "host": "trafficestimator.apis.devision.io", "tags": [{"name": "Keyword", "description": "\u041e\u0446\u0435\u043d\u043a\u0430 \u0442\u0440\u0430\u0444\u0438\u043a\u0430 \u043a\u043b\u044e\u0447\u0435\u0432\u044b\u0445 \u0444\u0440\u0430\u0437 \u043f\u043e \u0441\u0438\u0441\u0442\u0435\u043c\u0430\u043c"}]}