{"swagger": "2.0", "info": {"title": "rwvanga.proto"}, "schemes": null, "consumes": null, "produces": null, "paths": {"/v1/predict/client": {"post": {"summary": "\u041f\u0440\u0435\u0434\u0441\u043a\u0430\u0437\u0430\u043d\u0438\u0435 \u043f\u043e \u043a\u043b\u0438\u0435\u043d\u0442\u0443", "operationId": "PredictClient", "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/PredictClientResponse"}}}, "parameters": [{"name": "body", "in": "body", "required": true, "schema": {"$ref": "#/definitions/PredictClientRequest"}}], "tags": ["Prediction"]}}}, "definitions": {"ClientPrediction": {"type": "object", "properties": {"mp_count_diff": {"type": "number", "format": "float", "title": "\u041d\u0430 \u0441\u043a\u043e\u043b\u044c\u043a\u043e \u0443\u043c\u0435\u043d\u044c\u0448\u0438\u0442\u0441\u044f \u043a\u043e\u043b-\u0432\u043e \u043c\u0435\u0434\u0438\u0430\u043f\u043b\u0430\u043d\u043e\u0432 \u043e\u0442\u043d\u043e\u0441\u0438\u0442\u0435\u043b\u044c\u043d\u043e \u043f\u0440\u0435\u0434\u044b\u0434\u0443\u0449\u0435\u0433\u043e \u043c\u0435\u0441\u044f\u0446\u0430", "description": "\u041d\u0430 \u0441\u043a\u043e\u043b\u044c\u043a\u043e \u0443\u043c\u0435\u043d\u044c\u0448\u0438\u0442\u0441\u044f \u043a\u043e\u043b-\u0432\u043e \u043c\u0435\u0434\u0438\u0430\u043f\u043b\u0430\u043d\u043e\u0432 \u043e\u0442\u043d\u043e\u0441\u0438\u0442\u0435\u043b\u044c\u043d\u043e \u043f\u0440\u0435\u0434\u044b\u0434\u0443\u0449\u0435\u0433\u043e \u043c\u0435\u0441\u044f\u0446\u0430"}, "amount_sum_diff": {"type": "number", "format": "float", "title": "\u041d\u0430 \u0441\u043a\u043e\u043b\u044c\u043a\u043e \u0443\u043c\u0435\u043d\u044c\u0448\u0438\u0442\u0441\u044f \u0441\u0443\u043c\u043c\u0430\u0440\u043d\u0430\u044f \u0441\u0442\u043e\u0438\u043c\u043e\u0441\u0442\u044c \u043c\u0435\u0434\u0438\u0430\u043f\u043b\u0430\u043d\u043e\u0432 \u043e\u0442\u043d\u043e\u0441\u0438\u0442\u0435\u043b\u044c\u043d\u043e\n\u043f\u0440\u0435\u0434\u044b\u0434\u0443\u0449\u0435\u0433\u043e \u043c\u0435\u0441\u044f\u0446\u0430. \u0412 \u0440\u0443\u0431\u043b\u044f\u0445", "description": "\u041d\u0430 \u0441\u043a\u043e\u043b\u044c\u043a\u043e \u0443\u043c\u0435\u043d\u044c\u0448\u0438\u0442\u0441\u044f \u0441\u0443\u043c\u043c\u0430\u0440\u043d\u0430\u044f \u0441\u0442\u043e\u0438\u043c\u043e\u0441\u0442\u044c \u043c\u0435\u0434\u0438\u0430\u043f\u043b\u0430\u043d\u043e\u0432 \u043e\u0442\u043d\u043e\u0441\u0438\u0442\u0435\u043b\u044c\u043d\u043e\n\u043f\u0440\u0435\u0434\u044b\u0434\u0443\u0449\u0435\u0433\u043e \u043c\u0435\u0441\u044f\u0446\u0430. \u0412 \u0440\u0443\u0431\u043b\u044f\u0445"}, "profit_forecast_sum_diff": {"type": "number", "format": "float", "title": "\u041d\u0430 \u0441\u043a\u043e\u043b\u044c\u043a\u043e \u0443\u043c\u0435\u043d\u044c\u0448\u0438\u0442\u0441\u044f \u043f\u0440\u043e\u0433\u043d\u043e\u0437\u0438\u0440\u0443\u0435\u043c\u0430\u044f \u043f\u0440\u0438\u0431\u044b\u043b\u044c \u043c\u0435\u0434\u0438\u0430\u043f\u043b\u0430\u043d\u043e\u0432 \u043e\u0442\u043d\u043e\u0441\u0438\u0442\u0435\u043b\u044c\u043d\u043e\n\u043f\u0440\u0435\u0434\u044b\u0434\u0443\u0449\u0435\u0433\u043e \u043c\u0435\u0441\u044f\u0446\u0430. \u0412 \u0440\u0443\u0431\u043b\u044f\u0445", "description": "\u041d\u0430 \u0441\u043a\u043e\u043b\u044c\u043a\u043e \u0443\u043c\u0435\u043d\u044c\u0448\u0438\u0442\u0441\u044f \u043f\u0440\u043e\u0433\u043d\u043e\u0437\u0438\u0440\u0443\u0435\u043c\u0430\u044f \u043f\u0440\u0438\u0431\u044b\u043b\u044c \u043c\u0435\u0434\u0438\u0430\u043f\u043b\u0430\u043d\u043e\u0432 \u043e\u0442\u043d\u043e\u0441\u0438\u0442\u0435\u043b\u044c\u043d\u043e\n\u043f\u0440\u0435\u0434\u044b\u0434\u0443\u0449\u0435\u0433\u043e \u043c\u0435\u0441\u044f\u0446\u0430. \u0412 \u0440\u0443\u0431\u043b\u044f\u0445"}}, "required": []}, "PredictClientRequest": {"type": "object", "properties": {"client_ids": {"type": "array", "items": {"type": "string", "format": "int64"}, "title": "\u041e\u0431\u044f\u0437\u0430\u0442\u0435\u043b\u044c\u043d\u043e. id \u043a\u043b\u0438\u0435\u043d\u0442\u043e\u0432 \u0432 \u0431\u0430\u0437\u0435", "description": "id \u043a\u043b\u0438\u0435\u043d\u0442\u043e\u0432 \u0432 \u0431\u0430\u0437\u0435"}, "date": {"type": "string", "title": "\u041e\u0431\u044f\u0437\u0430\u0442\u0435\u043b\u044c\u043d\u043e. \u0414\u0430\u0442\u0430 \u0432 \u0431\u0443\u0434\u0443\u0449\u0435\u043c \u043c\u0435\u0441\u044f\u0446\u0435, \u0432 \u0444\u043e\u0440\u043c\u0430\u0442\u0435 YYYY-MM-DD\n(\u043e\u0442 \u043d\u0435\u0451 \u0431\u0443\u0434\u0443\u0442 \u043e\u0442\u0441\u0447\u0438\u0442\u0430\u043d\u044b \u0442\u0440\u0438 \u043f\u0440\u0435\u0434\u044b\u0434\u0443\u0449\u0438\u0445 \u043c\u0435\u0441\u044f\u0446\u0430)", "description": "\u0414\u0430\u0442\u0430 \u0432 \u0431\u0443\u0434\u0443\u0449\u0435\u043c \u043c\u0435\u0441\u044f\u0446\u0435, \u0432 \u0444\u043e\u0440\u043c\u0430\u0442\u0435 YYYY-MM-DD\n(\u043e\u0442 \u043d\u0435\u0451 \u0431\u0443\u0434\u0443\u0442 \u043e\u0442\u0441\u0447\u0438\u0442\u0430\u043d\u044b \u0442\u0440\u0438 \u043f\u0440\u0435\u0434\u044b\u0434\u0443\u0449\u0438\u0445 \u043c\u0435\u0441\u044f\u0446\u0430)"}}, "required": ["client_ids", "date"]}, "PredictClientResponse": {"type": "object", "properties": {"predictions": {"type": "array", "items": {"$ref": "#/definitions/ClientPrediction"}, "title": "\u041f\u0440\u0435\u0434\u0441\u043a\u0430\u0437\u0430\u043d\u0438\u044f \u0434\u043b\u044f \u043a\u043b\u0438\u0435\u043d\u0442\u043e\u0432 (\u0432 \u0442\u043e\u043c \u0434\u0435 \u043f\u043e\u0440\u044f\u0434\u043a\u0435, \u0432 \u043a\u043e\u0442\u043e\u0440\u043e\u043c \u0431\u044b\u043b\u0438 \u043f\u043e\u043b\u0443\u0447\u0435\u043d\u044b id \u043a\u043b\u0438\u0435\u043d\u0442\u043e\u0432 \u0432 \u0437\u0430\u043f\u0440\u043e\u0441\u0435)", "description": "\u041f\u0440\u0435\u0434\u0441\u043a\u0430\u0437\u0430\u043d\u0438\u044f \u0434\u043b\u044f \u043a\u043b\u0438\u0435\u043d\u0442\u043e\u0432 (\u0432 \u0442\u043e\u043c \u0434\u0435 \u043f\u043e\u0440\u044f\u0434\u043a\u0435, \u0432 \u043a\u043e\u0442\u043e\u0440\u043e\u043c \u0431\u044b\u043b\u0438 \u043f\u043e\u043b\u0443\u0447\u0435\u043d\u044b id \u043a\u043b\u0438\u0435\u043d\u0442\u043e\u0432 \u0432 \u0437\u0430\u043f\u0440\u043e\u0441\u0435)"}}, "required": []}}, "host": "rwvanga.apis.devision.io", "tags": [{"name": "Prediction", "description": ""}]}